.column {
	width: 280px;
	font-family: 'Helvetica Neue Bold';
	padding: 0 10px;
}

.columnHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px;
}

.label {
	font-weight: bold;
	color: #373737;
}
.labelNumber {
	font-size: 16px;
	font-weight: bold;
	color: #373737;
	opacity: 0.5;
}

.btn {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	font-size: 16px;
	color: #5d2bff;
	margin-top: 16px;
	font-family: 'Helvetica Neue';
	margin-left: 10px;
}
